Host server.islamqa.info
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 62.210.100.162
    user root
    port 44821
Host server.trustedwriter.com
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 178.79.137.206
    user root
    port 50001
Host server.sonsofgotham.com
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 45.55.190.120
    user root
    port 34987
Host server.supplysolutions.ca
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 144.76.9.233
    user root
    port 6845
Host server.allproperty.ge
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 5.35.248.148
    user root
    port 22
Host sendy.trustedwriter.me
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 139.162.203.95
    user root
    port 22
Host server.bizdotsmedia.co
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 104.236.20.58
    user root
    port 44554
Host vpn.bizdotsmedia.co
    identityfile /home/abukamel/.ssh/id_rsa
    hostname 45.55.193.174
    user root
    port 22
Host vpn.abukamel.me
    identityfile /home/abukamel/.ssh/id_rsa
    user root
    hostname 104.238.187.152 
    port 22
